*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(galaxy.jpg);
    background-repeat: ;
}
.container{
   position: relative;
   text-align: center;
   color: white;

}
.blah{
    width: 100%;
    height: 480px;
    filter: blur(5px);
}

.ty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 44px;
    /* backdrop-filter: blur(1px); */
    font-size:25px;
    font-family:monospace;
    /* border: solid black 4px; */
    
}
.intro{
    background-color: rgba(0, 0, 0, 0.685);
    color:white;
    text-align: center;
    font-family:sans-serif;
    padding: 15px;
}
.textco{
    font-family: sans-serif;
    color: rgb(206, 38, 38);
}

    

.proj{
    background-color:;
}
.foot{
    background-color: black;
    width: 100%;
    padding: 3px;

}


li{
    text-decoration: none;
    list-style-type:none;
    text-align: center;
    margin: 3px;
    padding: 2px;
    
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    


}
.mehak{
    width: 100%;
    height: auto;
}
.ty{
    color:white;
    font:bold;
    font-family: sans-serif;
    overflow: hidden;
    border-right: .15em solid black;
    white-space:nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255, 166, 0, 0) }
  }
